body {
    font-family: 'Roboto', sans-serif;
    background-color: #23292d;
    color: #FFFFFF;
}

.card {
    background-color: #1D1D1D;
}

header {
    text-align: center;
    padding: 50px 0;
    border-bottom: 2px solid #00A8FF;
    margin-bottom: 30px;
}

h1, h2, h3, h4 {
    color: #00A8FF;
}

.section {
    margin-bottom: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #00A8FF;
}

.section:last-child {
    border-bottom: none;
}

.project-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 100%;
    height: auto;
}

.project-img:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #00A8FF;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #005F99;
}

ul.list-unstyled {
    padding: 0;
    list-style-type: none;
}

ul.list-unstyled li {
    padding: 5px 0;
    font-size: 1.2em;
}

ul.list-unstyled li i {
    color: #00A8FF;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1D1D1D;
    color: #AAAAAA;
    border-top: 2px solid #00A8FF;
}
